USE [master]
GO
/****** Object:  Database [SMDBWeb]    Script Date: 2020/4/1 17:51:39 ******/
CREATE DATABASE [SMDBWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMDBWeb_data', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMDBWeb_data.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMDBWeb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SMDBWeb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMDBWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMDBWeb]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2020/4/1 17:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[LoginId] [int] IDENTITY(1000,1) NOT NULL,
	[LoginPwd] [varchar](20) NOT NULL,
	[AdminName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 2020/4/1 17:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(100000,1) NOT NULL,
	[CardNo] [varchar](20) NOT NULL,
	[DTime] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreList]    Script Date: 2020/4/1 17:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CSharp] [int] NULL,
	[SQLServerDB] [int] NULL,
	[UpdateTime] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 2020/4/1 17:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[ClassId] [int] NOT NULL,
	[ClassName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2020/4/1 17:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(100000,1) NOT NULL,
	[StudentName] [varchar](20) NOT NULL,
	[Gender] [char](2) NOT NULL,
	[Birthday] [smalldatetime] NOT NULL,
	[StudentIdNo] [numeric](18, 0) NOT NULL,
	[CardNo] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](50) NULL,
	[StudentAddress] [varchar](500) NULL,
	[ClassId] [int] NOT NULL,
 CONSTRAINT [pk_StudentId] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_CardNo] UNIQUE NONCLUSTERED 
(
	[CardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uq_StudentIdNo] UNIQUE NONCLUSTERED 
(
	[StudentIdNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [df_DTime]  DEFAULT (getdate()) FOR [DTime]
GO
ALTER TABLE [dbo].[ScoreList] ADD  CONSTRAINT [df_UpdateTime]  DEFAULT (getdate()) FOR [UpdateTime]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [df_StudentAddress]  DEFAULT ('地址不详') FOR [StudentAddress]
GO
ALTER TABLE [dbo].[ScoreList]  WITH CHECK ADD  CONSTRAINT [fk_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[ScoreList] CHECK CONSTRAINT [fk_StudentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [fk_classId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[StudentClass] ([ClassId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [fk_classId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [ck_StudentIdNo] CHECK  ((len([StudentIdNo])=(18)))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [ck_StudentIdNo]
GO
USE [master]
GO
